@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #fff;
  color: #000;
}
::selection {
  background-color: #fff;
  color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.comming-soon {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-variant-caps: all-petite-caps;
  letter-spacing: 2px;
  color: #fff;
}
.comming-soon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background: rgb(255, 94, 0);
  -webkit-transition: 0.3s cubic-bezier(1, 0, 0, 1);
  -o-transition: 0.3s cubic-bezier(1, 0, 0, 1);
  transition: 0.3s cubic-bezier(1, 0, 0, 1);
}

.comming-soon:hover::before {
  width: 200px;
}

.my-img {
  filter: blur(10px);
  border-radius: 50%;
  max-width: calc(10vw + 10em);
  margin: 3em;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.my-img:hover {
  filter: opacity(70%) !important;
}

.contact {
  text-transform: uppercase;
  font-size: calc(0.2vw + 8px);
  letter-spacing: 2px;
  margin: 2em 0;
}

.contact .social {
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
}
.contact .social a {
  opacity: initial;
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.contact .social svg {
  max-width: 30px;
}

.contact .social a:hover {
  transform: scale(1.2);
}
.contact .social a:active {
  transform: scale(1);
}
